/* Проблема при зменшенні сторінки (header): внизу
з'являється горизонтальний "прокрут" + мініманізуй
використання статичних розмірів, щоб потім
було легше з перенесенням на телефон (зменшення 
сторінки) */

/* ВИКОРИСТАЙ EM, щоб шрифт зменшувався */

body {
    margin: 0;
    font-family: "Rubik", sans-serif;
}

.navi-img-div {
    margin-left: 50px;
}

.navi-img {
    width: 100%;
    margin-top: 11px;
}

header {
    background-color: #1F1F1F;
    display: flex;
    justify-content: space-between;
    height: 85px;
    width: 100%;
    /* background-color: lightcoral; */
}

.button-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20%;
    margin-right: 30px;
    /* background-color: lightblue; */
}

.def {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 500;
    transition: 0.15s;
    cursor: pointer;
}

.def:hover {
    color: #FFB400;
    transition: 0.15s;
}

.opening-text-div {
    /* width: 600px; */
    width: 40%;
    position: absolute;
    top: 30%;
    left: 7%;
    /* background-color: lightblue; */
}

.opening-image-div {
    position: relative;
}

.company-name {
    color: white;
    font-weight: 600;
    font-size: 45px;
    margin: 0;
}

.company-description {
    margin: 30px 0 0 0;
    color: white;
    line-height: 25px;
    font-size: 18px;
}

.bc-image {
    width: 100%;
    height: 100%;
    filter: brightness(25%);
}

.company-name-div {
    display: flex;
    align-items: center;
    width: 100%;
    /* background-color: lightcoral; */
}

.line {
    width: 1.5%;
    height: 80px;
    background-color: #FFB400;
    margin-right: 20px;
}

.catalog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    row-gap: 50px;
}

h1 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #333;
}

.product-title {
    margin-top: 0;
    font-weight: 700;
    font-size: 30px;
}

h1::after {
    content: "";
    display: block;
    width: 50px; 
    height: 4px; 
    background-color: #FFCC00; 
    margin: 10px auto 0; 
}

.product {
    border: 1px solid #ddd;
    padding: 0 0 0 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    height: 500px;
    width: 70%;

    display: flex;
    align-items: center;
}


.content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.content img {
    /* width: 450px; */
    width: 30%;
    height: auto;
}

.description {
    /* max-width: 400px; */
    width: 50%;
    margin-left: 20px;
    /* background-color: lightblue; */
}

.har a {
    display: flex;    
    justify-content: center;
    margin-top: 50px;
    width: 23%;
    margin-right: 230px;
    background-color: white;
    border: 2px solid #FFCC00; 
    color: #333;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.15s;
    text-decoration: none;
}

.har a:hover {
    background-color: #FFCC00;
}

.catalog-two {
    text-align: center;
    padding: 50px;
    background-color: white;
}

h1 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 20px;
    color: #333;
}


.item-bulldozer {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 720px;
    height: 372px;
}

h2 {
    font-size: 28px;
    color: #333;
}

.content-bulldozer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.description p {
    font-size: 22px;
    color: #555;
}

.first-row-div {
    width: 100%;
    height: 240px;
    /* background-color: lightblue; */

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-bottom: 10px;
}

.first-row-div div {
    /* background-color: lightcoral; */
    width: 20%;
    height: 100%;
    /* display: flex;
    justify-content: center; */
    position: relative;
}

.why-us-text {
    font-size: 100px;
    /* font-size: 6em; */
    font-weight: 700;
    color: #FFB400;
    margin: 0;
    opacity: 20%;
}

.why-us-title {
    position: absolute;
    left: 3px;
    top: 18%;
    font-weight: 600;
    font-size: 20px;
}

.why-us-description {
    line-height: 25px;
    margin-top: 0;
    font-size: 15px;
}

.advantages {
    margin-top: 50px;
}

footer {
    width: 100%;
    background-color: #1F1F1F;
}

.container {
    display: flex;
    padding: 20px;
    background-color: #1F1F1F;
    max-width: 1200px;
    margin-left: 20px;
}


.logo-section {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.logo img {
    width: 150px;
    height: 140px;
}

.contact-info {
    font-size: 16px;
    line-height: 1.8;
}

.contact-info p {
    color: #fff;
    font-size: 20px;
}

.contact-info a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

.contact-info a:hover {
    color: #FFB400;
    transition: 0.15s;
}

.nav-section {
    display: flex;
    justify-content: space-between;
    width: 500px;
    align-items: center;
}

.line-Footer {
    width: 1px;
    height: 100%;
    background-color: #444444;
}

.menu ul li,
.categories ul li {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.menu ul li a,
.categories ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
}

.menu ul li a:hover,
.categories ul li a:hover {
    color: #ffcc00;
    transition: 0.15s;
}

.container a,
.container a:hover {
    transition: 0.15s;
}

.contact-image-div {
    display: flex;
    align-items: center;
}

.contact-image-div p {
    margin-left: 20px;
}

.contacts-icon {
    width: 20px;
}

.contact-image-div div {
    margin-left: 15px;
}